.logo{
    cursor: pointer;
 }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Assistant;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, rgb(2, 173, 116), rgb(5, 43, 27));
    border-radius: 0 0 10px 10px;
}

#contact{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0 4px;
}
#contact:hover{
    cursor: default;
}

body{
    background-color: #f1f1f1db;
    position: relative;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

#login{
    border: 2px solid white;
    border-radius: 5px;
    padding: 0 10px;
}

.login:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition: 0.5s ease;
}

.butonatheader{
    margin: 10px;
    border: none;
    background: none;
    border-radius: 15px;
    color: white;
    outline: none;
    font-size: larger;
}

.butonatheader:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 0 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.mid-content{
    font-family: Assistant;
    display: flex;
    flex-direction: column;
}

 #title{
     margin-top: 200px;
     position: relative;
    color: black;
    align-items: center;
    text-align: center;
    font-size: 35pt;
    width: 100%;
}

 #second{
     position: relative;
    color: black;
    font-size: 20pt;
    margin-top: 50px;
   /* align-items: center;
   text-align: center; */
   width: 50%;
   left: 30%;
}
#third{
    position: relative;
    color: black;
    font-size: 13pt;
    margin-top: 15px;
    
    width: 60%;
    left: 30%;
}

.fields{
    display: flex;
    flex-direction: column;
    position: relative;
    border: none;
    width: 40%;
    margin-top: 50px;
    left: 29%
}
.fields input{
    outline: none;
}
.field{
    height: 50px;
    margin: 10px;
    background-color: rgba(211, 211, 211, 0.384);
    border: none;
}

.mid-content input:hover{
    transition: 0.2s ease;
    font-size: 11pt;
}

.mid-content input{
    padding-left: 20px;
}
#msg{
    height: 200px;
}
#send{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 110%;
    left: 59%;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 35px;
}

#send:hover{
    background-color: black;
    color: white;
    transition: 0.3s ease;
    border: 2px solid white; 
} 

footer{
    background: linear-gradient(to right, rgb(2, 173, 116), rgb(5, 43, 27));
    height: 205px;
    width: 100%;
    
  }
  .pjesa-pare{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color: white;
      align-items: center;
  }
  .logo2{
      margin-top: 60px;
  }
  #paragraf{
      margin-top: 70px;
      font-size: 20px;
      text-align: justify;
  }
  .nenpjesa-pare{
      margin-top: 70px;
      line-height: 35px;
  }
  .pjesa-dyte{
      margin-top: 35px;
      text-align: center;
      color: white;
      font-size: 12px;
  }
  #contact1:hover{
      cursor: pointer;
  }
  #contact2:hover{
    cursor: pointer;
 }
 #giti{
    text-decoration: none;
    color: white;
 }



    