body{
    width: 99%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 95%;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.btnHeader{
margin: 0px 10px;
border: none;
background: none;
color: white;
outline: none;
font-size: larger;
margin-top: 5px;
}
.btnHeader:hover{
background-color: white;
color: #000000;
border-radius: 10px;
transition: 0.5s ease;
}
#logini{
    border: 2px solid white;
    border-radius: 5px;
}
#logini:hover{
    background-color: white;
color: #000000;
border-radius: 10px;
transition: 0.5s ease;
}

.fotoja{
    width: 101.3%;
    height: 100vh;
    margin-left: -8px;
    margin-top: -10px;
    background-color: #000000;
}
.teksti-mes{
    font-family: Assistant;
    left: 32%;
    color: white;
    position: absolute;
    bottom: 25%;
}
#main-tekst{
    font-size: 72pt;
    text-align: center;
}
#description{
    font-size: 20pt;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}
.butonat-mes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    left: 37%;
}
#buy{
    margin-right: 50px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.514);
    width: 150px;
    height: 40px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
}
#buy:hover{
    background-color: black;
    color: white;
    height: 50px;
    transition: 0.5s ease;
}
#build{
    margin-right: 50px;
    border-radius: 5px;
    background-color:black;
    width: 150px;
    height: 40px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
}