body{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.heder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}
#fotojahome{
position: relative;
    width: 101%;
    height: 729px;
    padding: 0px 0px;
  margin: -10px -10px;
}
.butonat_mes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    right: 37%;
    top: 60%;
}
#build{
    border: 1.5px solid black;
    border-radius: 10px;
    background-color: #ffffff38;
    margin-right: 20px;
    width: 170px;
    height: 50px;
    color: white;
    outline: none;
}
#buy{
    border: 1.5px solid white;
    border-radius: 10px;
    background-color: #000000;
    margin-left: 20px;
    width: 170px;
    height: 50px;
    color: white;
    outline: none;
}
#build:hover{
    background-color: #ffffff91;
    border: none;
}
#buy:hover{
    background-color: #fff9f9;
    border: 1.5px solid black;
    color: #000000;
}
.shade{
    width: 100%;
    height:729px;
    background: rgba(0, 0, 0, 0.637);
    opacity: 30%;
    position: absolute;
    margin:-10px -10px

}
#baneri{
position: absolute;
color: white;
right: 26%;
top: 20%;
font-size: 100px;
font-family: sans-serif;
}
#banerii{
    position: absolute;
    color: white;
    right: 35%;
    top: 45%;
    font-size: 20px;
    font-family: sans-serif;
    }
 .second_part{
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 20 px;
    position: relative;
    font-family: ;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(5, 43, 27);
    width: 101%;
    height: 20.5%;
    color: white;
}
#hederiPr2{
font-weight: lighter;
margin-bottom: 0px;
left: 200px;
font-size: medium;
margin-top: 20px;
font-family: Assistant;
font-weight: 700;
}
#description{
    font-size: large;
    font-family: Assistant;
    padding-bottom: 20px;

} 
