@font-face {
    font-family: myFirstFont;
    src: url(TYPOGRAPH_PRO_Semi_Bold.ttf);
  }
  @font-face {
    font-family: typograf_light;
    src: url(TYPOGRAPH_PRO_Light.ttf);
  }
body{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* .headeri{
width: fit-content;
} */
#logo{
    position: absolute;
    right: 88%;
    top: 10px;
}
.butonat{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    margin-left: 200px;
    left:50%;
    margin-top: 20px;
}

.navbari{
    border: none;
    background: none;
    color: white;
    font-size: larger;
    margin: 10px 5px;
}
.navbari:hover{
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    transition: 0.5s ease;
   
    color: black;
}
#fotojahome{
    width: 101%;
    height: 729px;
    padding: 0px 0px;
  margin: -10px -10px;
}
.butonat_mes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    right: 37%;
    top: 70%;
}
#build{
    border: 1.5px solid black;
    border-radius: 20px;
    background-color: #ffffff38;
    margin-right: 20px;
    width: 170px;
    height: 50px;
    color: white;
}
#buy{
    border: 1.5px solid white;
    border-radius: 20px;
    background-color: #000000;
    margin-left: 20px;
    width: 170px;
    height: 50px;
    color: white;
}
#build:hover{
    background-color: #ffffff91;
    border: none;
}
#buy:hover{
    background-color: #fff9f9;
    border: 1.5px solid black;
    color: #000000;
}
.shade{
    width: 101%;
    height:729px;
    background: rgba(0, 0, 0, 0.637);
    opacity: 30%;
    position: absolute;
    margin:-10px -10px

}
#baneri{
position: absolute;
color: white;
right: 26%;
top: 20%;
font-size: 100px;
font-family: sans-serif;
}
#banerii{
    position: absolute;
    color: white;
    right: 35%;
    top: 45%;
    font-size: 20px;
    font-family: sans-serif;
    }
 .second_part{
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 20 px;
    position: relative;
    font-family: ;
    text-align: center;
    justify-content: space-evenly;
    background-color: rgb(5, 43, 27);
    width: 101%;
    height: 20.5%;
    color: white;
}
#hederiPr2{
font-weight: lighter;
margin-bottom: 0px;
left: 200px;
font-size: medium;
margin-top: 20px;
font-family: myFirstFont;
}
#description{
    font-size: large;
    font-family: typograf_light;
} 
